@inject PharmaKursWork.Servises.UserServise userService;
@{
    var isCurrentUserAdmin = userService.isCurrentUserAdmin();
}

<div class="text-center">

    <div class="card">
        <h4>Панель пользователя</h4>
        <div class="collapse d-sm-inline-flex justify-content-between">
            <ul class="d-flex navbar-nav flex-row flex-grow-1">
                <li class="nav-item p-3">
                    <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="Challenge" asp-action="Index">Испытания</a>
                </li>
                <li class="nav-item p-3">
                    <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="Challenger" asp-action="AddChallenger">Стать испытателем</a>
                </li>
            </ul>
        </div>
    </div>
    @if (isCurrentUserAdmin)
    {
        <div class="card mt-5">
            <h4>Админ панель</h4>
            <div class="collapse d-sm-inline-flex justify-content-between">
                <ul class="d-flex navbar-nav flex-row flex-grow-1">
                    <li class="nav-item p-3">
                        <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="Challenger" asp-action="Index">Испытатели</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="Unit" asp-action="Index">Единица измерения</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="CommodityGroup" asp-action="Index">Товарная группа</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="Laboratories" asp-action="Index">Лаборатории</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="Med" asp-action="Index">Лекарства</a>
                    </li>
                    <li class="nav-item p-3">
                        <a class="border-primary border border-2 p-1 nav-link text-dark" asp-controller="LaboratoryEmployee" asp-action="Index">Добавить ученого или тех персонал</a>
                    </li>

                </ul>
            </div>
        </div>
    }

</div>
